// header
.containerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  width: 100%;
  padding: 0 40px; /* Отступы слева и справа по 20px */
  box-sizing: border-box;
}

// TabsMenu
.containerTabsMenu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #fff;
}

// Items
.navigateItem:hover {
  color: #DC143C;
  cursor: pointer;
}
