// header

.containerHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

// TabsMenu

.containerTabsMenu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
