// header

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// TabsMenu

.containerTabsMenu{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

// Header Content

.containerTitleHeader{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15% auto;
    width: 70%;
    background-color: rgba(36, 36, 36, 0.5);
    padding: 20px;
    border-radius: 4px;
}

.containerTitleHeader h3 {
  margin-top: 10px;
}

.titleHalal{
    color: #ddc06b;
}

.IconHalal{
    position: absolute;
    background-image: url(/src/features/Home/assets/header/halal.png);
    background-size: cover;
    padding: 80px;
    margin: 40px;
    right: 0;
    bottom: 0;
}
