.mainCardContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;  // Добавил padding для отступов на маленьких экранах

  @media (max-width: 1400px) {
    max-width: 800px;
  }

  @media (max-width: 992px) {
    max-width: 600px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-top: -50px;  // Уменьшил отрицательный отступ для маленьких экранов
  }
}

.mainCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(36, 36, 36, 0.5);
  padding: 40px;
  border-radius: 12px;

  @media (max-width: 768px) {
    padding: 20px;  // Уменьшил padding для маленьких экранов
  }
}

.mainCardTitle {
  font-size: 2.5rem;
  color: #fff;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media (max-width: 400px) {
    font-size: 1.4rem;
  }
}

.mainCardDescriptions {
  color: #fff;
  margin-top: 10px;
  font-size: 1.125rem;  // Изменил размер шрифта на rem

  @media (max-width: 768px) {
    font-size: 1rem;  // Уменьшил размер шрифта для маленьких экранов
  }
}

.titleHalal {
  color: #ddc06b;
}

.IconHalal {
  position: absolute;
  background-image: url(/src/features/Home/assets/header/halal.png);
  background-size: cover;
  width: 180px;
  height: 180px;
  right: 40px;
  bottom: 40px;

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
    right: 20px;
    bottom: 20px;
  }
}
